* {
    text-align: center;
}
h2 {
    font-size: 18px;
    margin-top: 10px;
}
.inline {
    display: inline;
}
#lower-choice {
    margin-top: 1rem;
}
.password-field {
    border: 5px solid limegreen; 
    height: 480px;
}

.col-md-8 {
    border: 2px solid gray;
    margin-top: 20px;
    height: 100px;
}
h3 {
    margin: 25px;
    color: darkgreen
}

button {
    margin-top: 10px;
}